<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>City:</b>
  <%= @place.city %>
</p>

<p>
  <b>State:</b>
  <%= @place.state %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
